.textPresentation {
    text-align: center;
    font-size: 0.9rem;
    color: #262626;
    transform: translateY(-15px);
}

.loginForm {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
