.loading {
    display: inline-block;
    width: 50px;
    height: 40px;
}
  
.loading:after {
    content: " ";
    display: block;
    width: 34px;
    height: 34px;
    border-radius: 50%;
    border: 6px solid #337AB7;
    border-color: #337AB7 transparent #337AB7 transparent;
    animation: loading 3.2s linear infinite;
  
}
  
@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}